<ion-view view-title="Amsj Feed">
   <ion-nav-buttons side="right">
       <button class="button button-icon button-clear ion-heart"></button>
   </ion-nav-buttons>
   
       <div class="bar bar-subheader item-input-inset">
          <label for="" class="item-input-inset">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input type="search" placeholder="Search" ng-model="searchText">
            </label>
          </div>
   
    <ion-content class="has-subheader">
       <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
        <ion-list can-swipe="true">
            <ion-item class="item item-thumbnail-left item-text-wrap item-icon-right" ng-repeat="data in posts | filter: searchText" href="#/app/detail/{{data.id}}">
                <img ng-src="{{data.better_featured_image.media_details.sizes.thumbnail.source_url}}" alt="">
                <h2>{{data.title.rendered }}</h2>
                <p ng-bind-html="data.excerpt.rendered">
                 
                </p>
                <ion-option-button class="button-dark">
                    <i class="icon ion-heart"></i>
                </ion-option-button>
            </ion-item>
            
            
        </ion-list>
        
        <ion-infinite-scroll ng-if="canLoadMore()"  on-infinite="loadMore()"  distance="1%">
  </ion-infinite-scroll>
        
    </ion-content>
</ion-view>










































































